.main-container {
	margin: 0px auto;
}

.site-section {
	padding: 2rem;
}

.section-description h1 {
	color: $secondary-color;
}

.section-description img {
	margin-bottom: 30px;
}

.row {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	.searchBlock {
		margin: 30px 50px;
		text-align: center;

		.checkboxGroup {
			margin-top: 10px;
		}
	}
}

.searchRow {
	margin-bottom: 50px;
}