.vertical-horizontal-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.callToAction {
	margin: 20px 0;
}

.white-background-section {
	border-bottom: solid 1px $dark-blue-background;
}